Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed adipisci officia
nisi enim at consequuntur. Pariatur, nesciunt odio. Alias sapiente debitis quam.
Minus eum rerum beatae doloremque maxime amet quia! Aut aliquid ipsa distinctio,
a similique alias voluptatem esse accusamus error dolores pariatur voluptate
voluptatum totam quaerat accusantium quas, autem recusandae! Ullam neque
blanditiis placeat voluptas eligendi recusandae inventore, ratione harum, est
cumque tenetur ipsa. Ut cum hic dolores ipsa temporibus iste accusantium
repellendus repudiandae laboriosam sunt, nihil nisi similique animi ullam
incidunt, magnam quod voluptates accusamus? Iure voluptates iste possimus qui
impedit. Non quia maxime velit, quam mollitia nisi? Asperiores sint vel, fugiat
ducimus, voluptatem veritatis aliquid fuga reprehenderit nobis maiores neque
voluptas quia nemo maxime repudiandae esse repellendus inventore accusamus
placeat corporis repellat? Facilis cumque quod, aliquid architecto animi quia
enim rem eveniet culpa maxime accusamus error? Natus, nobis perferendis hic cum
ducimus ad praesentium nostrum. Voluptatibus ipsum voluptas vero beatae non est
unde dolores laborum pariatur tempore recusandae ex molestiae, ipsa quo eos odit
accusamus! Dolores assumenda dicta totam ipsum eos ea fugiat, iusto ullam
voluptates eveniet harum nisi dolorem obcaecati quam consequuntur possimus.
Provident animi culpa veniam commodi placeat molestiae nam eius doloremque,
doloribus officiis. Commodi quaerat asperiores optio sequi quae, illum aperiam
ipsa, obcaecati, iste atque magni quam est? Odit vel aspernatur nam nemo quia
perferendis reiciendis, voluptatibus sapiente laborum nostrum porro nulla id
excepturi quidem. Quasi, ut minus. Adipisci nisi molestias aliquam id est
doloribus similique accusamus officiis sunt laudantium itaque iste, quidem culpa
sed consectetur odio aliquid. Impedit, consectetur maxime accusantium ipsa
quisquam aliquid vitae quasi doloribus aut totam quia voluptate quam, sed
expedita perferendis dolore inventore facere quo animi, laudantium officia
aspernatur distinctio modi numquam! Omnis quisquam molestiae incidunt itaque
eveniet ad officia impedit necessitatibus beatae accusamus aspernatur illum,
nulla cumque eius? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
Autem, quis voluptates. Dolores quia maxime dolorum amet quae doloremque officia
perferendis, facere iusto rerum dolore dignissimos soluta culpa ipsam placeat
aspernatur repellat veniam, pariatur, quod corporis! Dolor magni dolores eum
velit, rerum voluptates, consequuntur, itaque nam placeat expedita maiores atque
blanditiis. $post::create([ 'title' => 'DARI SELATAN', 'slug' => 'dari-selatan',
'title_image' => 'DARI SELATAN', 'excerpt' => 'Lorem ipsum dolor sit, amet
consectetur adipisicing elit. Autem, quis voluptates. Dolores quia maxime
dolorum amet quae doloremque officia', 'body' => '
<p>
    Selimut Tabernakel terdiri dari dua selimut yang berukuran 20 x 28.
    DalamKeluaran 26 : 23 Tirai digantung tepat dibawah pengait dari kain
    tutupanTabernakel. Pengait-pengait itu mempersatukan 2 bagian besar dari
    kainpenutup Tabernakel, yang masing-masing dibuat dari 5 bagian dari 4
    hasta.Jadi tiap bagian dari tutupan itu lebarnya 20 hasta = 4 x 5 hasta.
    Kaintutupan pertama menutupi Tabernakel mulai dari pintu Kemah sampai pada
    Tiraiatau 2/3 bagian daripada kemah sembahyang yang merupakan bagian Kamar
    Suciyaitu 20 hasta.
</p>
<p>
    Selimut Tabernakel terdiri dari dua selimut yang berukuran 20 x 28.
    DalamKeluaran 26 : 23 Tirai digantung tepat dibawah pengait dari kain
    tutupanTabernakel. Pengait-pengait itu mempersatukan 2 bagian besar dari
    kainpenutup Tabernakel, yang masing-masing dibuat dari 5 bagian dari 4
    hasta.Jadi tiap bagian dari tutupan itu lebarnya 20 hasta = 4 x 5 hasta.
    Kaintutupan pertama menutupi Tabernakel mulai dari pintu Kemah sampai pada
    Tiraiatau 2/3 bagian daripada kemah sembahyang yang merupakan bagian Kamar
    Suciyaitu 20 hasta.
</p>
' ])

<p>
    Ketika bangsa Israel keluar dari Mesir menuju ke tanah perjanjian, mereka
    dihadang oleh orang-orang Amalek di suatu tempat yang bernama Rafidim
    sehingga terjadi pertempuran. Dengan pertolongan Tuhan, bangsa Israel menang
    atas Amalek.
</p>
<p>
    Dalam Perjanjian Lama, biasanya peperangan yang terjadi pada bangsa-bangsa
    di jaman dulu, selalu berkaitan dengan perebutan wilayah, mengalahkan
    rajanya dan kemudian menguasai bangsanya, lalu menjadikannya budak.
</p>
<p>
    Tetapi saat itu Israel belum mempunyai wilayah. Mereka sedang dalam
    perjalanan keluar dari Mesir menuju ke tanah perjanjian, namun mereka sudah
    dihadang oleh Amalek. Itulah yang menyebabkan Allah begitu marah kepada
    orang Amalek sehingga kepada Musa Tuhan berfirman akan menghapuskan ingatan
    kepada orang Amalek (Kel. 17:14).
</p>
<p>
    Setelah Saul diurapi menjadi raja atas Israel, Tuhan berfirman: “Aku akan
    membalas apa yang dilakukan orang Amalek kepada orang Israel, karena orang
    Amalek menghalang-halangi mereka, ketika orang Israel pergi dari Mesir. Jadi
    pergilah sekarang, kalahkanlah orang Amalek, tumpaslah segala yang ada
    padanya, dan janganlah ada belas kasihan kepadanya. Bunuhlah semuanya,
    laki-laki maupun perempuan, kanak-kanak maupun anak-anak yang menyusu, lembu
    maupun domba, unta maupun keledai” (1 Sam 15:2-3).
</p>
<p>
    Perintah Tuhan sangat jelas. “Tetapi Saul dan rakyat itu menyelamatkan Agag
    (raja orang Amalek) dan kambing domba dan lembu-lembu yang terbaik dan
    tambun, pula anak domba dan segala yang berharga: …” (ay. 9).
</p>
<p>
    Di sinilah bentuk ketidaktaatan Saul terhadap firman Tuhan, sehingga
    menyesallah Tuhan telah menjadikan Saul raja Israel (ay. 11). Akibatnya,
    keturunan Saul tidak bisa melanjutkan dia menjadi raja. Tuhan sudah
    mengalihkannya kepada Daud.
</p>
<p>
    Dalam Roma 10:3 dikatakan: “… oleh karena mereka berusaha untuk mendirikan
    kebenaran mereka sendiri, maka mereka tidak takluk kepada kebenaran Allah.”
    Itulah yang dilakukan Saul.
</p>
<p>
    Ketika Samuel datang kepadanya, ia berkata, “Diberkatilah kiranya engkau
    oleh TUHAN; aku telah melaksanakan firman TUHAN” (ay. 13). Tetapi kata
    Samuel: “Kalau begitu apakah bunyi kambing domba, yang sampai ke telingaku,
    dan bunyi lembu-lembu yang kudengar itu?” Jawab Saul: “Semuanya itu dibawa
    dari pada orang Amalek, sebab rakyat menyelamatkan kambing domba dan
    lembu-lembu yang terbaik dengan maksud untuk mempersembahkan korban kepada
    TUHAN, Allahmu; …” (ay. 15).
</p>
<p>
    Saul berdalih untuk mencari alasan pembenaran atas tindakannya. Dalam
    Perjanjian Lama di setiap ibadah selalu harus ada korban persembahan kepada
    Allah. Namun bukan dari korban binatang yang seharusnya dibinasakan.Tuhan
    tahu hati Saul, karena itu Allah tidak berkenan.
</p>
<p>
    Setelah mendengar jawaban Saul (ay. 15), berkatalah Samuel: “… Sesungguhnya,
    mendengarkan lebih baik dari pada korban sembelihan, …” (ay. 22). Atau
    dengan kata lain, taat lebih baik dari pada korban.
</p>
<p>
    Nadab dan Abihu, anak-anak Harun, juga melakukan kesalahan yang sama seperti
    Saul. Karena mereka tidak mau kalah dengan Musa dan Harun di mana mereka
    melihat api Tuhan dari langit langsung membakar korban yang dipersembahkan
    Musa dan Harun sehingga membuat takjub seluruh bangsa Israel pada saat itu.
</p>
<p>
    Mereka juga membawa korban namun tidak sabar menunggu api Tuhan, lalu
    membawa api sendiri dan membakar korbannya dengan api itu; api asing, bukan
    api Tuhan. Ini menjadi satu kebencian kepada Tuhan. Ketika api Tuhan turun,
    langsung membakar Nadab dan Abihu. Hukuman Tuhan berlaku.
</p>
<p>
    Jadi jangan main-main dengan ibadah kita. Jangan menampilkan sesuatu yang
    palsu. Tuhan tahu! Ketaatan itu harus ada di dalam kita; taat kepada firman
    Tuhan, taat melakukan perintah Tuhan, barulah kita dapat beribadah dengan
    benar di hadapan Tuhan.
</p>
<p>Tuhan Yesus memberkati kita semua.</p>

Orintus adalah sebuah kota kuno di Akhaya, Yunani. Namun merupakan kota
metropolitan Yunani di jaman Rasul Paulus. Seperti halnya di banyak kota yang
makmur pada masa kini, Korintus menjadi kota yang angkuh secara intelektual,
kaya secara materi, dan bejat secara moral; segala macam dosa merajalela di kota
ini, bahkan telah merasuki jemaat di kota Korintus (pasal 5-6) yang kebanyakan
terdiri dari orang-orang bukan Yahudi atau Yunani dan beberapa orang Yahudi.
Setelah Paulus pergi meninggalkan jemaat di Korintus, datanglah seorang pengajar
lain yang memiliki hikmat duniawi dan memberikan pengajaran yang menarik hati
jemaat. Ia bernama Apolos. Sesungguhnya Apolos bukanlah orang yang asing bagi
Paulus, melainkan seorang mitra kerja di dalam pekerjaan Tuhan. Namun dari pasal
1 ayat pokok dapat diketahui adanya perbedaan ajaran antara Apolos dan Paulus
dalam hal memaknai salib Kristus dan baptisan orang percaya. Salib Kristus bagi
orang Yahudi adalah batu sandungan atau sesuatu yang memalukan. Dan bagi orang
Yunani merupakan suatu kebodohan (ay. 23). Dalam hal baptisan, rupanya Apolos
hanya melakukan baptisan Yohanes; baptisan orang yang sudah percaya. Sedangkan
Paulus mengajarkan, selain baptisan air dalam nama Tuhan Yesus, juga diperlukan
baptisan Roh Kudus yang akan memberikan kekuatan, kuasa kepada mereka di dalam
pelayanannya (1 Kor. 2:1-5, 10-16). Karena perbedaan ajaran tersebut, akhirnya
menimbulkan perpecahan dalam jemaat di Korintus. Demikian pula yang terjadi di
dalam gereja-gereja sekarang ini. Perbedaan ajaran menyebabkan perbedaan
penafsiran yang biasanya dijadikan doktrin gereja sehingga menimbulkan
perselisihan dan perpecahan dalam jemaat. Karena itu“… iman kamu jangan
bergantung pada hikmat manusia, tetapi pada kekuatan Allah” (1 Kor. 2:5). Jemaat
di Korintus kebanyakan orang Yunani. Mereka merasa dirinya hebat dalam hikmat
duniawi. Itulah sebabnya mereka tidak dapat memahami dan mendalami tentang
rencana keselamatan Allah bagi umat manusia melalui kematian Yesus di kayu
salib. Mereka menganggap bahwa percaya pada berita Injil adalah suatu kebodohan.
Mungkin mereka berpikir bahwa seorang Juruselamat itu seharusnya seorang yang
hebat, berkuasa, tidak mudah terkalahkan, selalu menjadi pemenang. Tetapi
kenyataannya Yesus mati disalibkan. Tidak masuk akal untuk percaya kepada
penyelamat yang demikian. Secara akal manusia, memang tidak masuk akal. Namun
dalam ayat 21 dari ayat pokok dikatakan: “Oleh karena dunia, dalam hikmat Allah,
tidak mengenal Allah dalam hikmatnya, maka Allah berkenan menyelamatkan mereka
yang percaya oleh kebodohan pemberitaan Injil.” Pemberitaan tentang salib hanya
dapat dimengerti oleh mereka yang percaya kepada Yesus yang adalah kekuatan dan
hikmat Allah itu sendiri (ay. 24). Ia telah disediakan bagi kita sebelum dunia
dijadikan (1 Kor. 2:7). Karena Allah tahu bahwa manusia yang Dia ciptakan suatu
waktu akan jatuh ke dalam dosa dan memerlukan keselamatan yang dari Allah.
Betapa hebatnya hikmat Allah. Tidak ada seorang pun manusia yang dapat
menyamakan hikmat Allah; yang sudah tahu dan merencanakan Yesus datang ke dalam
dunia sebelum permulaan jaman, menjadi Juruselamat bagi saudara dan sayap.
Haleluyah! Tuhan Yesus memberkati.
