<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad atque
    nobis accusantium? Voluptatem repellat adipisci nostrum consectetur enim.
    Laborum adipisci consequatur, laboriosam sit labore blanditiis aliquid?
    Adipisci nemo distinctio perferendis atque,
</p>
<p>
    vitae suscipit quisquam esse laboriosam, nesciunt soluta pariatur
    providenteligendi dolores! Fuga illo explicabo, dolor quo alias ut earum
    consequaturmaiores, ipsa rem dignissimos! Ratione, ut reprehenderit ex hic
    nulla quaeillum saepe consequatur nam ipsam sequi sed placeat
</p>
<p>
    cupiditate mollitia, voluptates beatae optio illo ad porro esse
    pariatur.Ducimus consectetur nam commodi repudiandae excepturi minus porro!
    Molestiaeerror voluptatibus similique odio, id dignissimos ipsum vel
    voluptate natusconsequuntur iste perspiciatis aut hic laboriosam laudantium
    assumenda. Quosveniam quam aspernatur at minima, fuga ipsam ab? Fugit,
    ratione. Cum.
</p>

<p>
    Selimut Tabernakel terdiri dari dua selimut yang berukuran 20 x 28. Dalam
    Keluaran 26 : 23 Tirai digantung tepat dibawah pengait dari kain tutupan
    Tabernakel. Pengait-pengait itu mempersatukan 2 bagian besar dari kain
    penutup Tabernakel, yang masing-masing dibuat dari 5 bagian dari 4 hasta.
    Jadi tiap bagian dari tutupan itu lebarnya 20 hasta = 4 x 5 hasta. Kain
    tutupan pertama menutupi Tabernakel mulai dari pintu Kemah sampai pada Tirai
    atau 2/3 bagian daripada kemah sembahyang yang merupakan bagian Kamar Suci
    yaitu 20 hasta.
</p>
<p>
    Selimut Tabernakel terdiri dari dua selimut yang berukuran 20 x 28. Dalam
    Keluaran 26 : 23 Tirai digantung tepat dibawah pengait dari kain tutupan
    Tabernakel. Pengait-pengait itu mempersatukan 2 bagian besar dari kain
    penutup Tabernakel, yang masing-masing dibuat dari 5 bagian dari 4 hasta.
    Jadi tiap bagian dari tutupan itu lebarnya 20 hasta = 4 x 5 hasta. Kain
    tutupan pertama menutupi Tabernakel mulai dari pintu Kemah sampai pada Tirai
    atau 2/3 bagian daripada kemah sembahyang yang merupakan bagian Kamar Suci
    yaitu 20 hasta.
</p>
